.category {
	margin: 0 auto 36px;
	padding: 24px 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 692px;
	&__item {
		&:not(:last-child) {
			margin-right: 30px;
			margin-bottom: 10px;
		}
	}
	&__link {
		text-transform: uppercase;
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
}
