.footer {
  padding-bottom: 24px;

  &__wrapper {
    padding-top: 50px;
    border-top: 1px solid $alto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 640px) {
      flex-wrap: wrap;
    }
  }

  &__inner {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 440px) {
      flex-direction: column;
      flex-wrap: wrap-reverse;
    }
  }
}

.footer-category {
  &__list {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__item:not(:last-child) {
    margin-right: 80px;
  }

  &__title {
    @media (max-width: 440px) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__sublist {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.footer-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  &__mail {
    margin-bottom: 16px;

    @media (max-width: 640px) {
      margin-bottom: 9px;
    }
  }

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.footer-social {
  margin-right: 80px;

  @media (max-width: 640px) {
    margin-right: 0;
  }

  &__title {
    margin-bottom: 16px;

    @media (max-width: 440px) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 640px) {
      margin-bottom: 10px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-copyright {
  &__text {
    margin: 0;
    font-size: 12px;
  }

  @media (max-width: 40px) {
    order: 1;
  }
}

.footer-development {
  font-size: 12px;

  @media (max-width: 440px) {
    margin-bottom: 10px;
  }
}
